@import "tailwindcss";

:root {
  --background: #0f0e13;
  --foreground: #ffffff;
}

html {

  background: linear-gradient(135deg, #0a0a0e 0%, #0d0d10 25%, #0d0c10 50%, #0f0e13 75%, #121116 100%);
  min-height: 100%;
  background-color: #0a0a0e;
  margin: 0;
  padding: 0;
}