@import "tailwindcss";

:root {
  --background: #0f0e13;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
